<div class="container-fluid">
    <h3>Create A New Quote</h3>
    <form action="" #goalForm='ngForm' name="goalForm" (ngSubmit)="submit()">
        <p *ngIf="description.invalid ||author.invalid ||submittedBy.invalid " class="text-warning">Fill all the fields in order to submit</p>

        <div class="form-group">
            <label for="quote">Quote</label>
            <textarea type="text" required placeholder="Enter Quote" [(ngModel)]='newQuote.description' name="description" #description='ngModel' class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="quote">Author</label>
            <input type="text" required placeholder="Enter Authors name" [(ngModel)]='newQuote.author' name="author" #author='ngModel' class="form-control">
        </div>
        <div class="form-group">
            <label for="quote">Submitted By</label>
            <input type="text" required placeholder="Enter Your name" [(ngModel)]='newQuote.submittedBy' name="submittedBy" #submittedBy='ngModel' class="form-control">
        </div>
        <button type="submit" [disabled]="description.invalid ||author.invalid ||submittedBy.invalid " class="btn-outline-dark">Create Quote</button>

    </form>
</div>